<style type="text/css">
    h1.title-left
    {
        color: #6f6d6d !important;
    }
</style>
<ion-modal-view>
    <ion-header-bar style="background-color:#0097A7">
        <h1 class="title" style="color:#fff !important">Change Password</h1>

        <div class="buttons">
            <button class="button button-clear" style="color:#fff !important" ng-click="closepwd()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content style="background-color: white">
        <form ng-submit="" novalidate="" name="changepasswordForm">
            <div class="list list-inset" style="border: 1px solid #eae6e6;">

                <label class="item-input bb" style="border-bottom: 1px solid #dedada;">
                    <i class="icon ion-locked placeholder-icon"></i>
                    <input style="padding: 7px;" type="password"  class="btn" name="currentpassword"  placeholder="Enter Current Password"
                           ng-model="pwdData.oldpwd" required>
                </label>
                <label class="item-input bb" style="border-bottom: 1px solid #dedada;">
                    <i class="icon ion-edit placeholder-icon"></i>
                    <input style="padding: 5px;" type="password" class="btn" placeholder="Enter New Password" ng-model="pwdData.reqpwd" required>
                </label>
                <label class="item-input bb" style="border-bottom: 1px solid #dedada;">
                    <i class="icon ion-edit placeholder-icon"></i>
                    <input style="padding: 5px;" type="password" class="btn" placeholder="Re-enter New Password" ng-model="pwdData.newpwd" required>
                </label>
                <br/>
                <div>
                    <label class="item" style="border:0 none;padding-top: 0;padding-bottom:0px;">
                        <button style="background-color:#0097A7" class="button button-block button-calm" ng-disabled="changepasswordForm.$invalid" style="background-color:rgb(56, 126, 245);border-color:#ffffff" ng-click="doChangepwd();">
                            Change
                        </button>

                    </label>
                    <label class="item" style="border:0 none;padding-top:0px;">
                        <button style="background-color: #0097A7" class="button button-block button-calm"  style="background-color:rgb(56, 126, 245);border-color:#ffffff" ng-click="closepwd()">
                            Cancel
                        </button>
                    </label>
                </div>
                </div>

        </form>
    </ion-content>
</ion-modal-view>