<ion-modal-view>
    <ion-header-bar style="background-color:#0097A7; ">
        <h1 class="title" style="color:#fff;">Forgot Password</h1>

        <div class="buttons">
            <button class="button button-clear" ng-click="closeforgotpassword()"><i class="ion-close-circled"></i></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list list-inset" style="padding: 10px;color:#9a9999">Enter Email ID or Mobile Number to Get Password</div>
        <form>
            <div class="list list-inset" style="padding: 10px;">
                <label class="item item-input">
                    <input type="text" ng-model="getpassword.email" placeholder="Enter Your Registered Email ID">
                </label>
                <div class="mid-stroke" style="margin: 11% 0px 5% 0px;">
                    <span class="mid-or-1 midsizing" style="font-size: 17px;font-weight: 500;">OR</span>
                </div>

                <label class="item item-input">
                    <input type="text" ng-model="getpassword.mobile" placeholder="Enter Your Registered Mobile Number">
                </label>
                <br/>
                <button class="button button-block button-calm" type="submit" ng-click="doSendPassword()">Request Password</button>
            </div>
        </form>

    </ion-content>
</ion-modal-view>