<style type="text/css">
    .scroll {
        height: 100%;
    }

    #map {
        width: 100%;
        height: 100%;
    }
    .bar .title.title-left {
        text-align: left;
        margin-left: 37px !important;
        left: 0 !important;
    }
    .bar-header
    {
        background: #0097A7 !important;
    }
</style>
<ion-view view-title="Location" style="color:white;" >
    <ion-nav-bar ng-controller="MapCtrl">
        <ion-nav-back-button class="button-clear">
            <i class="icon ion-android-arrow-back" style="color:#fff"></i>
        </ion-nav-back-button>
        <ion-nav-buttons side="secondary">
            <button class="button button-icon button-clear padding-right" ng-click="popover.show($event)" go-native>
                <i style="font-size: x-large; margin-right: 20px;color:#fff;" ng-class="{'ion-android-more-vertical': platform.isAndroid(), 'ion-ios-cog-outline':platform.isIOS()}" class="padding-right"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content ng-class="{'has-tabs-top': platform.isAndroid()}" class="has-header">

        <div id="map" data-tap-disabled="true"></div>

    </ion-content>

</ion-view>


