<ion-nav-bar>
    <ion-nav-back-button class="button-clear" go-native>
        <i class="icon ion-android-arrow-back" style="color:#fff;"></i>
    </ion-nav-back-button>
</ion-nav-bar>
<ion-view  view-title="Our Services" style="color:#fff">
    <ion-content ng-class="{'has-tabs-top': platform.isAndroid()}" class="has-header abtscreen">
        <div class="item item-body" style="padding-top: 0;">
            <h4 class="h2-titleserv servicetitlebgcolor" style="color:#fff !important">Emergency</h4>
            <p style="text-align:justify;">
             <i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">24 Hour Accident & Emergency</span>
            </p>
            <p style="text-align:justify;">
            <i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">One of the largest Emergency Centres with an Acute Chest Pain Centre, Stroke Centre, Trauma Centre & Urgent Care Family Clinic manned by a Rapid Action Team.</span></p>
            <h4 class="h2-titleserv servicetitlebgcolor" style="color:#fff !important">Out Patient Facilities</h4>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Offers comprehensive services in in multiple specialties</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Extended Evening Hours Clinic in Cardiology, General Physician, Gynaecology, Orthopaedics, Pediatrics.</span></p>
            <h4 class="h2-titleserv servicetitlebgcolor" style="color:#fff !important">In Patient Facilities</h4>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">750 Beds</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">5 state of the art Operation Theatres</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Water Birthing Rooms</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Fully equipped ICUs</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">5 Private Suites</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Emergency Operating Rooms</span></p>
            <h4 class="h2-titleserv servicetitlebgcolor" style="color:#fff !important">Diagnostic Services</h4>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Ambulatory Blood Pressure (ABP)</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Ambulatory Electrocardiogram (Holter Monitoring)</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Diagnostic Echocardiography (Doppler & Color Doppler)</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Electrocardiogram (ECG)</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Electroencephalogram (EEG)</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Treadmill Testing (TMT)</span></p>
            <h4 class="h2-titleserv servicetitlebgcolor" style="color:#fff !important">Imaging Services</h4>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">X- Ray</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Bone Mineral Densitometry</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">64 Slice HD Computed Tomography Scan (CT)</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Contrast Examinations</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Diagnostic Plain Film Radiography</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Fluoroscopic Examinations</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Interventional Services</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Angiography</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Stenting</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Mammography (Breast Imaging)</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Magnetic Resonance Imaging (MRI)</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Positron Emission Tomography- Computed Tomography (PET CT) Scans</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Ultrasound Studies</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Ultrasound Scans</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Gamma Camera</span></p>
            <h4 class="h2-titleserv servicetitlebgcolor" style="color:#fff !important">Major Specialities</h4>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Anaesthesiology</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Andrology</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Apheresis Unit</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Bariatrics</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Breast Centre</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Cardiology</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Critical Care</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">CTVS- Cardiothoracic & Vascular Surgery</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Clinical Microbiology & Infections Diseases</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Clinic for Blood Disorders & Research</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Dermatology</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Dentistry</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Diabetology</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Ear, Nose, Throat Services</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Emergency & Trauma Care</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Endocrinology & Metabolic Disorders</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Endoscopy Centre</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Epilepsy Monitoring</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Executive Health Checks</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Gastroenterology & Liver Diseases</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">General & Laparoscopic Surgery</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Gynaecology & Obstetrics</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Haematology</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Histopathology</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Infection Control</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Internal Medicine</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Intensive Care, Neonatal Intensive Care, High Dependency Units</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Medical, Surgical, Paediatric, Obstetrics and Gynaecology Wards</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Minimally Invasive Surgery (MIS)</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Nephrology</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Neonatology</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Neurosciences</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Nuclear Medicine</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Nutrition & Wellness Centre</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Ophthalmology</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Oral & Maxillofacial Surgery</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Organ Transplantation</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Oncology- Medical, Surgical & Radiation</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Pain Management & Palliative Cure</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Pharmacy Services</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Physiotherapy & Rehabilitation Services</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Plastic, Cosmetic & Reconstructive Surgery</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Preventive Medicine</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Psychiatric & Psychology Services</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Pulmonology & Sleep Disorders Centre</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Radiology- Diagnostic & Interventional</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Renal Dialysis Centre</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Rheumatology</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Sports Medicine</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Transfusion Medicine</span></p>
            <p><i class="ion-arrow-right-b serviceico"></i><span class="servicecontent">Urology</span></p>
        </div>
        </ion-content>
    </ion-view>